<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <title>@ViewBag.Title - Talleres</title>
    <link href="~/Content/Site.css" rel="stylesheet" />


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #273646">
        <a class="navbar-brand" href="#">Cursos / Webinar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://webinar.rimgps.com/registro/Admin/Home/">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://webinar.rimgps.com/registro/Talleres/">Talleres</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://webinar.rimgps.com/registro/Profesores">Instructores</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://webinar.rimgps.com/registro/Talleres/Congresos">Congresos</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menú
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://webinar.rimgps.com/Consola/Busqueda/Alumnos">Buscar-Imprimir alumno</a>
                        <a class="dropdown-item" href="http://webinar.rimgps.com/Consola/Alumno/Modificar">Modificar alumno</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://webinar.rimgps.com/Consola/Busqueda/Listas">Imprimir listas</a>
                        <a class="dropdown-item" href="http://webinar.rimgps.com/Consola/Busqueda/ListaGeneral">Imprimir lista general</a>
                        <a class="dropdown-item" href="http://webinar.rimgps.com/Consola/Profesor/Registro">Registros externos</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Constancias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://webinar.rimgps.com/Consola/Congreso/RegistroTipoConstancia">Registro de tipo de constancia</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://webinar.rimgps.com/Consola/Alumno/Constancia">Constancia alumno</a>
                        <a class="dropdown-item" href="http://webinar.rimgps.com/Consola/Congreso/ConstanciaTipo">Constancia por tipo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://webinar.rimgps.com/Consola/Congreso/ImagenConstancia">Configurar imagen constancia de alumno</a>
                        <a class="dropdown-item" href="http://webinar.rimgps.com/Consola/Congreso/TipoImagenConstancia">Configurar imagen por tipo</a>
                    </div>
                </li>

            </ul>

        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <div class="container">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - RIMGPS</p>
            </footer>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/sweetalert2.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

