@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">BIENVENIDO </h1>
        <p class="lead">En este panel de administración podrás agregar congresos, instructores y talleres.</p>
        <hr class="my-4">
        <p>Lo primero que deberá agregar es un congreso.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="http://webinar.rimgps.com/registro/Talleres/Congresos" role="button">Agregar congreso</a>
        </p>
    </div>
</div>
